<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>To-Do App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="js/angular.min.js"></script>
<script src="js/alertify.js"></script>
<link rel="stylesheet"href="css/index.css">
<script src="js/index.js"type="text/javascript"></script>
</head>
<body>

    <header>
        <h1>To-Do App <small></small></h1>
        <p>
            <i class="fa fa-share"></i> 
            A basic <strong>to-do list</strong> WebApp by <small>Kushal</small>
        </p>
    </header>

    <div id="container" ng-controller="main">

        <div class="todo-header clearfix js-toggler" data-target="todo-list">
            <div class="todo-count">
                <span>#<strong>{{todos.length}}</strong></span>
            </div>
            <h2>
                <i class="fa fa-navicon"></i> My List
            </h2>
        </div>
    
        <div class="todo-list js-todo-list">
            <div class="inner">
                <div class="item" ng-repeat="todo in todos">
                    <div class="inner done-{{todo.done}}">
                        <div class="status">
                            <input type="checkbox" ng-model="todo.done" />
                        </div>
                        <div class="text">
                            <p>{{todo.text}}</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="options">
                            <span ng-click="edit(todo)" class="btn-edit">
                                <i class="fa fa-edit"></i> Edit
                            </span>
                            <span ng-click="remove(todo)" class="btn-remove">
                                <i class="fa fa-remove"></i> Remove
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="todo-form">
            <form ng-submit="add()">
                <div class="input-group">
                    <input type="text" ng-model="todoInput" size="25" placeholder="Add new item.." />
                    <button>
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="dev-notes js-dev-notes hidden">
        <h3># Dev Notes</h3>
        <i class="fa fa-tick"></i> No Issues were reported.
    </div>
    </body>
    </html>
